.navContainer {  
  align-content: center;
  justify-content: center;
  height: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  color: #A8AABC;
}

.navbarList {
  list-style: none;
  text-align: center;
  background-color: black;
  padding:  0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 0;
}

.navbarItem {
  padding: 8px;
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 700;
  color: white;
  border-top: 1px solid grey;
  border-bottom: 1px solid white;

}

.navbarItem:hover {
  color: #00C6C0
}

.menuIcon {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}


@media  (min-width: 450px){
  .navbar {
  }
}
